.player-rotate-btn{
  position: absolute;
  top: 0;
  right: 0rem;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  color: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;

  &:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
  }

  display: flex;
  justify-content: center;
  align-items: center;
}