.heading-primary{
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.heading-secondary{
  margin-bottom: 1.5rem;
  font-size: 3rem;
  position: relative;
  width: 100%;
  text-align: center;
}